<nav class="navbar navbar-expand-lg navbar-light" >
  <div class="container-fluid">
    <a class="navbar-brand" href="router2.php?action=home">
     <img src="..\..\public\vaccin.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
     Vaccin Rapide
   </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion des vaccins
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
            <li><a class="dropdown-item" href="router2.php?action=vaccinReadAll">Liste des vaccins</a></li>
            <li><a class="dropdown-item" href="#">Ajout d'un vaccin</a></li>
            <li><a class="dropdown-item" href="#">Mise à jour d'un vaccin</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gestion des centres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li><a class="dropdown-item" href="#">Ajout d'un centre</a></li>
            <li><a class="dropdown-item" href="#">Liste de centres</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
