#footer_menu {
  bottom: 0;
  position: fixed;
   width: 100%;
   text-align: center;
}


.card, .navbar, .footer, .body{
  font-family: 'Lato', sans-serif;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #E3F2FD;
 }
